NDPTassignment3/NDPTassignment3Client/Service References/WordScrambleGameServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WordScrambleGame" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/NDPTassignment3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWordScrambleGame_isGameBeingHosted_InputMessage">
    <wsdl:part name="parameters" element="tns:isGameBeingHosted" />
  </wsdl:message>
  <wsdl:message name="IWordScrambleGame_isGameBeingHosted_OutputMessage">
    <wsdl:part name="parameters" element="tns:isGameBeingHostedResponse" />
  </wsdl:message>
  <wsdl:message name="IWordScrambleGame_hostGame_InputMessage">
    <wsdl:part name="parameters" element="tns:hostGame" />
  </wsdl:message>
  <wsdl:message name="IWordScrambleGame_hostGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:hostGameResponse" />
  </wsdl:message>
  <wsdl:message name="IWordScrambleGame_hostGame_AlreadyHostedFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/NDPTassignment3" name="detail" element="q1:AlreadyHostedFault" />
  </wsdl:message>
  <wsdl:message name="IWordScrambleGame_join_InputMessage">
    <wsdl:part name="parameters" element="tns:join" />
  </wsdl:message>
  <wsdl:message name="IWordScrambleGame_join_OutputMessage">
    <wsdl:part name="parameters" element="tns:joinResponse" />
  </wsdl:message>
  <wsdl:message name="IWordScrambleGame_join_HostJoinFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/NDPTassignment3" name="detail" element="q2:HostJoinFault" />
  </wsdl:message>
  <wsdl:message name="IWordScrambleGame_join_NobodyHostingFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/NDPTassignment3" name="detail" element="q3:NobodyHostingFault" />
  </wsdl:message>
  <wsdl:message name="IWordScrambleGame_join_FullGameFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/NDPTassignment3" name="detail" element="q4:FullGameFault" />
  </wsdl:message>
  <wsdl:message name="IWordScrambleGame_guessWord_InputMessage">
    <wsdl:part name="parameters" element="tns:guessWord" />
  </wsdl:message>
  <wsdl:message name="IWordScrambleGame_guessWord_OutputMessage">
    <wsdl:part name="parameters" element="tns:guessWordResponse" />
  </wsdl:message>
  <wsdl:message name="IWordScrambleGame_guessWord_PlayerNotFoundFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/NDPTassignment3" name="detail" element="q5:PlayerNotFoundFault" />
  </wsdl:message>
  <wsdl:portType name="IWordScrambleGame">
    <wsdl:operation name="isGameBeingHosted">
      <wsdl:input wsaw:Action="http://tempuri.org/IWordScrambleGame/isGameBeingHosted" message="tns:IWordScrambleGame_isGameBeingHosted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWordScrambleGame/isGameBeingHostedResponse" message="tns:IWordScrambleGame_isGameBeingHosted_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="hostGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IWordScrambleGame/hostGame" message="tns:IWordScrambleGame_hostGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWordScrambleGame/hostGameResponse" message="tns:IWordScrambleGame_hostGame_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IWordScrambleGame/hostGameAlreadyHostedFaultFault" name="AlreadyHostedFaultFault" message="tns:IWordScrambleGame_hostGame_AlreadyHostedFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="join">
      <wsdl:input wsaw:Action="http://tempuri.org/IWordScrambleGame/join" message="tns:IWordScrambleGame_join_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWordScrambleGame/joinResponse" message="tns:IWordScrambleGame_join_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IWordScrambleGame/joinHostJoinFaultFault" name="HostJoinFaultFault" message="tns:IWordScrambleGame_join_HostJoinFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IWordScrambleGame/joinNobodyHostingFaultFault" name="NobodyHostingFaultFault" message="tns:IWordScrambleGame_join_NobodyHostingFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IWordScrambleGame/joinFullGameFaultFault" name="FullGameFaultFault" message="tns:IWordScrambleGame_join_FullGameFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="guessWord">
      <wsdl:input wsaw:Action="http://tempuri.org/IWordScrambleGame/guessWord" message="tns:IWordScrambleGame_guessWord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWordScrambleGame/guessWordResponse" message="tns:IWordScrambleGame_guessWord_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IWordScrambleGame/guessWordPlayerNotFoundFaultFault" name="PlayerNotFoundFaultFault" message="tns:IWordScrambleGame_guessWord_PlayerNotFoundFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWordScrambleGame" type="tns:IWordScrambleGame">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="isGameBeingHosted">
      <soap:operation soapAction="http://tempuri.org/IWordScrambleGame/isGameBeingHosted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hostGame">
      <soap:operation soapAction="http://tempuri.org/IWordScrambleGame/hostGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AlreadyHostedFaultFault">
        <soap:fault use="literal" name="AlreadyHostedFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="join">
      <soap:operation soapAction="http://tempuri.org/IWordScrambleGame/join" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="HostJoinFaultFault">
        <soap:fault use="literal" name="HostJoinFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="NobodyHostingFaultFault">
        <soap:fault use="literal" name="NobodyHostingFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="FullGameFaultFault">
        <soap:fault use="literal" name="FullGameFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="guessWord">
      <soap:operation soapAction="http://tempuri.org/IWordScrambleGame/guessWord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PlayerNotFoundFaultFault">
        <soap:fault use="literal" name="PlayerNotFoundFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WordScrambleGame">
    <wsdl:port name="BasicHttpBinding_IWordScrambleGame" binding="tns:BasicHttpBinding_IWordScrambleGame">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/NDPTassignment3/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>